
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 500px;
  }

  a{
    text-decoration: none;
    color: white;
  }
  .caridata{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .tombol {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    margin-left: 5px;
    border-radius: 5px;
  }
  
  .tombol:hover {
    background-color: #2980b9;
  }
  
  #displayArea {
    margin-top: 20px;
    margin-left: 20%;
    border: 3px solid black;
    width: 32%;
  }
  
  .data-container:not(:last-child) {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .data-item {
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
  }
  
  .value {
    padding-left: 10px;
  }